{% extends "base.html" %} {% block title %}Book Appointment{% endblock %} {%block content%}
<div id="current_date"></p>
	<script>
	date = new Date();
	year = date.getFullYear();
	month = date.getMonth() + ;
	day = date.getDate();
	time1 = year + "-" + month + "/" + day;
	</script>
<form method="POST">
	<label for="meeting-time">Choose a time for your appointment:</label>
	<br />
	<div align="center">
		<input
			type="datetime-local"
			id="bookt"
			name="bookt"
		/>
	</div>
	<br />
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
