{% extends "base.html" %} {% block title %}Book Appointment{% endblock %}
{%block content%}
<!--<div id="current_date">
	<script>
	date = new Date();
	year = date.getFullYear();
	month = date.getMonth() + ;
	day = date.getDate();
	time1 = year + "-" + month + "/" + day;
	</script>
<form method="POST">
	<label for="meeting-time">Choose a time for your appointment:</label>
	<br />
	<div align="center">
		<input
			type="datetime-local"
			id="bookt"
			name="bookt"
		/>
	</div>
	<br />
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
-->
<form method="POST">
	<h3 align="center">Book Appointment</h3>
	<div class="form-group">

		<label for="date">Date and Time</label>
		<input type="datetime-local" class="form-control" id="date" name="date" placeholder="Enter date"></input>
	</div>
</form>

{% endblock %}
