{% extends "base.html" %} {% block title %}Home{% endblock %}
<!--<style>
	.info_section {
		background-color: pink;
		margin: 100px auto;
		min-height: 250px;
		max-width: 970px;
	}
	.info_box {
		width: 33.3%;
		min-height: 250px;
		float: left;
	}
</style>-->
{% block content%}

<h1 align="center">Welcome</h1>
<h3 align="center">We are currently only placed in Queenstown</h3>
<ul class="list-group list-group-flush" id="notes">
	{% for note in user.notes %}
	<li class="list-group-item">
		{{ note.data}}
		<button type="button" class="close" onClick="deleteNote({{ note.id }})">
			<span aria-hidden="true">&times;</span>
		</button>
	</li>
	{%endfor%}
</ul>
<form method="POST">
	<textarea name="note" id="note" class="form-control"></textarea>
	<br />
	<div align="center">
		<button type="submit" class="btn btn-primary">Add Note</button>
	</div>
</form>
<br />
<br />
<div class="info-section">
	<a href="/prof">
		<div
			class="info_box"
			style="
				width: 25%;
				min-height: 200px;
				float: left;
				background-color: #e5e6eb;
				border: 1px solid black;
				border-collapse: collapse;
				border-radius: 7%;
				margin-left: 68px;
			"
		>
			<!--<img align="center" src="P.PNG" alt="Profile icon" />-->
			<h3 align="center" style="color: black">Profile Page</h3>
			<h5 align="center" style="color: black">
				Check all your personal details.
			</h5>
		</div>
	</a>
	<a href="book">
		<h3 color="white"></h3>
		<div
			class="info_box"
			style="
				width: 25%;
				min-height: 200px;
				float: left;
				background-color: #e5e6eb;
				border: 1px solid black;
				border-collapse: collapse;
				border-radius: 7%;
				margin-left: 57px;
			"
		>
			<h3 align="center" style="color: black">Book an Appointment!</h3>
			<h5 align="center" style="color: black">
				Book an appointment today at our clinic.
			</h5>
		</div>
	</a>
	<a href="/viewapp">
		<div
			class="info_box"
			style="
				width: 25%;
				min-height: 200px;
				float: left;
				background-color: #e5e6eb;
				border: 1px solid black;
				border-collapse: collapse;
				border-radius: 7%;
				margin-left: 50px;
			"
		>
			<h3 align="center" style="color: black">View your Appointments</h3>
			<h5 align="center" style="color: black">
				View your past and upcoming appointments at the clinic.
			</h5>
		</div>
	</a>
</div>
{% endblock%}
