{% extends "base.html" %} {% block title %}Home{% endblock %}
<style>
	.info_section {
		background-color: pink;
		margin: 100px auto;
		min-height: 250px;
		max-width: 970px;
	}
	.info_box {
		width: 33.3%;
		min-height: 250px;
		float: left;
	}
</style>
{% block content%}

<h1 align="center">Welcome</h1>
<h4 align="center">We are currently only placed in Queenstown</h4>
<ul class="list-group list-group-flush" id="notes">
	{% for note in user.notes %}
	<li class="list-group-item">
		{{ note.data}}
		<button type="button" class="close" onClick="deleteNote({{ note.id }})">
			<span aria-hidden="true">&times;</span>
		</button>
	</li>
	{%endfor%}
</ul>
<form method="POST">
	<textarea name="note" id="note" class="form-control"></textarea>
	<br />
	<div align="center">
		<button type="submit" class="btn btn-primary">Add Note</button>
	</div>
</form>
<br />
<br />
<div class="info-section">
	<div
		class="info_box"
		style="
			width: 33.3%;
			min-height: 250px;
			float: left;
			background-color: white;
		"
	>
		<!--<img align="center" src="P.PNG" alt="Profile icon" />-->
		<h3 align="center">Profile Page</h3>
		<h5 align="center">Check all your personal details.</h5>
	</div>
	<div
		class="info_box"
		style="
			width: 33.3%;
			min-height: 250px;
			float: left;
			background-color: white;
		"
	>
		<h3 align="center">Book an Appointment!</h3>
		<h5 align="center">Book an appointment today at our clinic.</h5>
	</div>
	<div
		class="info_box"
		style="
			width: 33.3%;
			min-height: 250px;
			float: left;
			background-color: white;
		"
	>
		<h3>View your Apppointments</h3>
		<h5 align="center">
			View your past and upcoming appointments at the clinic.
		</h5>
	</div>
</div>
{% endblock%}
