<!-- Profile page -->
{% extends "base.html" %} {% block title %}Profile{% endblock %} {%block
content%}
<form>
	<br />
	<div class="Email">
		<h4 for="email">Email Address</h4>
		<li class="list-group-item" style="background-color: #d2d4dc">
			{{user.email}}
		</li>
	</div>
	<br />
	<div class="Name">
		<h4 for="name">Name</h4>
		<li class="list-group-item" style="background-color: #d2d4dc">
			{{user.first_name}}
		</li>
	</div>
	<br />
	<div class="Age">
		<h4 for="age">Age</h4>
		<li class="list-group-item" style="background-color: #d2d4dc">
			{{user.age}}
		</li>
	</div>
</form>
{% endblock %}
