{% extends "base.html" %} {% block title %}Book Appointment{% endblock %}
<style></style>
{%block content%}
<h2 align="center">View Appointments</h2>
<br /><br />

<table
	align="center"
	border="4px"
	border-collapse="collapse"
	style="background-color: #c0c2ce"
>
	<tr>
		<th width="20%" align="center" style="background-color: #d2d4dc">Date</th>
		<th width="20%" align="center" style="background-color: #d2d4dc">Time</th>
		<th width="20%" align="center" style="background-color: #d2d4dc">Clinic</th>
		<th width="20%" align="center" style="background-color: #d2d4dc">Doctor</th>
		<th width="20%" align="center" style="background-color: #d2d4dc">Issue</th>
		<th width="30%" align="center" style="background-color: #d2d4dc">Cancel</th>
	</tr>
	{% for book in user.books %}

	<tr>
		<td>{{ book.date}}</td>
		<td>{{ book.time}}</td>
		<td>{{ book.clinic}}</td>
		<td>{{ book.doctor}}</td>
		<td>{{ book.issue}}</td>
		<td>
			{%if book.date<"2022-29-10"%}
			<button type="button" class="close" onClick="deletebook({{ book.id }})">
				<span aria-hidden="true">&times;</span>
			</button>
			{%else%}
			<h6>"Appointment taken"</h6>
			{%endif%}
		</td>
	</tr>
	{%endfor%}
</table>
{%endblock%}
