{% extends "base.html" %} {% block title %}Book Appointment{% endblock %}
<style>
	th {
		size: 4;
		width: 7px;
	}
</style>
{%block content%}
<br /><br /><br /><br />
<table align="center" border="4px" border-collapse="collapse">
	<tr>
		<th width="20%" align="center">Date</th>
		<th width="20%" align="center">Time</th>
		<th width="20%" align="center">Clinic</th>
		<th width="20%" align="center">Doctor</th>
		<th width="20%" align="center">Issue</th>
		<th width="20%" align="center">Cancel</th>
	</tr>
	{% for book in user.books %}

	<tr>
		<td>{{ book.date}}</td>
		<td>{{ book.time}}</td>
		<td>{{ book.clinic}}</td>
		<td>{{ book.doctor}}</td>
		<td>{{ book.issue}}</td>
		<td>
			<button type="button" class="close" onClick="deletebook({{ book.id }})">
				<span aria-hidden="true">&times;</span>
			</button>
		</td>
	</tr>
	{%endfor%}
</table>
{%endblock%}
